<style>
  .vl {
    border-left: 4px dashed gray;
    height: 500px;
  }
  </style>

<page-title style = "text-align:center"></page-title><br><br>

<div class="container">
    <div class="row justify-content-center">
      <div class="col-3">
        <movie-list></movie-list>
      </div>

      <div class="vl"></div>

      <div class="col-3">
        <fav-photos></fav-photos>
      </div>
  
      <div class="vl"></div>

      <div class="col-3">
        <chores-list></chores-list>
      </div>
    </div>
  </div><br>

  <hr width = 75% size = "20">
  <div style = "width:500px; margin:auto">
  <fav-links></fav-links>
  </div>